@import url("https://fonts.googleapis.com/css?family=Merriweather:400,900|Six+Caps");

body {
  margin: 0 auto;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

figcaption,
figure,
main {
  /* 1 */
  display: block;
}

figure {
  margin: 0;
}

button.modal-close {
  background: white;
  position: fixed;
  left: 1em;
  top: 1em;
  border: 0;
  width: 2em;
  height: 2em;
  padding: 4px 0 0;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

button,
input {
  /* 1 */
  overflow: visible;
}

body {
  color: rgb(18, 23, 17);
  font-family: "Playfair", sans-serif;
  line-height: 1.6;
  background: #ffffff;
  font-size: 0.975rem;
  overflow-x: hidden;
}
@media (min-width: 50em) {
  body {
    font-size: 1.125rem;
  }
}

h1#about {
  color: rgb(18, 23, 17);
  margin-right: 25px;
}

h1 {
  color: white;
  line-height: 1;
  font-size: 3.125rem;
  font-family: "Playfair", sans-serif;
}
@media (min-width: 50em) {
  h1 {
    font-size: 4.25rem;
  }
}

.menu-button {
  position: absolute;
  top: 3em;
  left: 3em;
  background: transparent;
  border: 0;
  transition: transform ease-in-out 250ms;
  cursor: pointer;
  outline: white;
  fill: white;
}

nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 73%;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform ease-out 250ms;
}

nav li,
nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  align-items: stretch;
  background: white;
}

nav li {
  text-align: center;
}
nav li:not(:last-of-type) {
  border-bottom: 1px solid rgb(18, 23, 17);
}

nav li:hover {
  background: rgba(0, 0, 0, 0.2);
}

nav a {
  font-size: 2rem;
  letter-spacing: 0.1em;
  color: rgb(18, 23, 17);
  text-transform: uppercase;
  line-height: 1;
  font-family: "Six Caps", sans-serif;
  font-weight: 100;
  text-decoration: none;
}

nav a#portfolio {
  font-size: 1.9rem;
}

nav a#contact {
  font-size: 2rem;
}

.close-icon {
  display: none;
  background-color: transparent;
}

.nav-is-open {
  height: 100vh;
  overflow-y: hidden;
}
.nav-is-open nav {
  transform: translateX(0);
  font-size: 2rem;
}
.nav-is-open .container-all {
  transform: translateX(20%);
}
.nav-is-open .hamburger {
  color: white;
  display: none;
}
.nav-is-open .close-icon {
  display: block;
  transform: translateX(370%);
}
.nav-is-open .menu-button {
  transform: translateX(-70%);
}

.container-all {
  transition: transform ease-out 250ms;
}

.welcome {
  background-image: url(../img/darkysky.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.welcome h1 span {
  font-size: 5.5rem;
  padding-top: 60px;
  letter-spacing: 0.15em;
  color: white;
  text-transform: uppercase;
  line-height: 1;
  margin: 0 auto;
  font-family: "Six Caps", sans-serif;
  font-weight: 400;
  display: block;
}

.about-img {
  max-height: 20em;
  margin: 0 auto;
  border-radius: 25%;
  padding-bottom: 30px;
}
@media (min-width: 42em) {
  .about-img {
    margin-right: 1em;
  }
}

.about-text {
  padding-bottom: 25px;
  max-width: 70vw;
  margin: 0 auto;
}

h1#about {
  text-align: center;
  margin-top: 75px;
}

.about-me {
  text-align: center;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.portfolio {
  text-align: center;
  background: rgb(18, 23, 17);
  padding: 5em 0;
}

@media only screen and (max-width: 768px) {
  .portfolio-items {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .portfolio-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  /* width: 90%; */
  margin: 0 auto;
  /* max-width: 75em; */
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  flex: 1 1 20rem;
}
.portfolio-item .portfolio-image {
  display: block;
  width: 100%;
}
.portfolio-item figcaption {
  position: absolute;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1em;
  background: black;
  opacity: 80%;
  color: rgb(18, 23, 17);
  text-align: left;
  display: flex;
  flex-direction: column;
  transition: top ease-in-out 250ms;
}
.portfolio-item:hover figcaption,
.portfolio-item:focus figcaption {
  top: 0;
  bottom: 0;
}

.portfolio-title {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: auto;
}

.portfolio-desc {
  display: none;
}

.portfolio-link {
  color: white;
  font-weight: 900;
  font-size: 1.1rem;
  text-decoration: none;
  border-bottom: 3px solid white;
  align-self: flex-start;
}
.portfolio-link::after {
  display: inline-block;
  height: 0.8em;
  width: 0.8em;
  margin-left: 0.5em;
}

.menu-button {
  background-color: transparent;
  padding-top: 5px;
  padding-bottom: 2px;
}
@supports (display: grid) {
  .portfolio-items {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 768px) {
    .portfolio-items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .featured .portfolio-title {
    font-size: 2.5rem;
  }
  .featured .portfolio-desc {
    display: block;
  }
}

.portfolio-modal {
  position: fixed;
  z-index: 10;
  top: 2em;
  bottom: 2em;
  left: 2em;
  right: 2em;
  background: black;
  color: white;
  box-shadow: 0 0 0 3em rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
}
.portfolio-modal.is-open {
  display: block;
}

button.modal-close {
  background: white;
  fill: black;
  position: fixed;
  left: 1em;
  top: 1em;
  border: 0;
  width: 10em;
  height: 10em;
  padding: 4px 0 0;
  border-radius: 100%;
  cursor: pointer;
}

/* .grow:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
} */

.portfolio-header {
  text-align: left;
  padding: 5em 0;
  margin-bottom: 2em;
  background-size: cover;
  background-position: center;
}

.portfolio-title-box {
  /* background: grey; */
  color: white;
  width: 70%;
  margin-left: 50px;
}
.portfolio-title-box .portfolio-title {
  font-size: 3.5rem;
  display: inline-block;
}

.portfolio-title-box .portfolio-title::after {
  content: "";
  display: block;
  height: 1px;
  margin: 0.5em 0;
  background: white;
  width: 100%;
}

.portfolio-subtitle {
  font-size: 1rem;
}

.portfolio-content {
  text-align: left;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 2em;
}

.portfolio-full-width {
  width: 100vw;
  max-width: initial;
  margin: 2em calc(50% - 50vw);
  height: 20vh;
  object-fit: cover;
}

@media (min-width: 50em) {
  .portfolio-pull-left {
    width: 65%;
    float: left;
    margin-right: 2em;
  }
  .portfolio-pull-right {
    width: 65%;
    float: right;
    margin-left: 2em;
  }
}

@keyframes modalIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

p.copyright,
p.copy {
  color: rgb(18, 23, 17);
}

footer {
  background: white;
  padding: 5em 0;
  text-align: center;
  font-size: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  h2.portfolio-title {
    color: white;
    font-family: "Playfair", sans-serif;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h2.portfolio-title {
    color: white;
    font-family: "Playfair", sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h2.portfolio-title {
    color: white;
    font-family: "Playfair", sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h2.portfolio-title {
    color: white;
    font-family: "Playfair", sans-serif;
    font-size: 4rem;
    text-align: center;
    font-weight: 400;
  }
}

/* 
h2.portfolio-title {
  color: white;
  font-family: "Playfair", sans-serif;
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
} */

h1#snocht {
  font-family: "Playfair", sans-serif;
  text-align: center;
  font-size: 1rem;
  font-style: lighter;
}

.social-icons {
  width: 90%;
  margin: 0 auto;
  max-width: 15em;
  display: flex;
  justify-content: space-between;
  margin: 1.75em auto 4em;
}

.social-icon {
  width: 75%;
  height: 25%;
}

a {
  margin: 0;
  padding: 0;
}

.copyright::before {
  content: "";
  display: block;
  height: 1px;
  background: rgb(18, 23, 17);
  margin: 4em auto;
  width: 25%;
}
